/* src/components/SponsorshipBox.css */

.sponsorship-box {
    background-color: #F4F4F4; /* Background color */
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 20px; /* Space between boxes */
}

.sponsorship-description {
    flex: 0 0 50%; /* Occupy 30% of the box's width */
    font-size: 1em;
    color: #333;
    text-align: left; /* Left align text */
    line-height: 1.8; /* Set paragraph spacing */
    letter-spacing: -1.5%; /* Set letter spacing */
    margin-right: 20px; /* Space between description and levels */
}

.sponsorship-levels-bottom {
    display: flex;
    justify-content: center; /* Center the levels horizontally */
    align-items: center; /* Center the levels vertically within their container */
    flex: 1;
    gap: 10px; /* Add space between each level */
    max-width: 50%; /* Limit to 50% of the box */

}
.level {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level img {
    width: 100%;
    height: auto;
}

/* Hover effect for small screens */
@media (max-width: 768px) {
    .sponsorship-box .sponsorship-levels {
        display: none; /* Hide levels initially on small screens */
    }

    .sponsorship-box:hover .sponsorship-levels {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        right: 10px;
        top: 10px;
        z-index: 10;
    }
}
