/* src/components/Login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #444B5B;
}

.loginBox {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.inputGroup {
    margin-bottom: 20px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.inputGroup input[type="email"],
.inputGroup input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.inputGroup input[type="checkbox"] {
    margin-right: 10px;
}

.forgotPassword {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    text-align: right;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #555;
}
