
body {
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for the nav bar */

    position: sticky; /* Make the navbar sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other content */
}

.logo img {
    height: 60px; /* Adjust the height as needed */
    width: auto;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-item a {
    color: black; /* Black text */
    text-decoration: none;
    padding: 10px;
    font-weight: 600; /* Use a bold weight for better visibility */
}

.nav-item a:hover {
    background-color: #ddd; /* Light background on hover */
    border-radius: 5px;
}

.nav-item.dropdown {
    cursor: pointer;
}

.nav-item.dropdown a::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; /* Color of the triangle */
    vertical-align: middle;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show on hover */
}

.nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for dropdown */
    border-radius: 5px;
    display: none; /* Initially hidden */
    z-index: 10;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4;
}

.nav-buttons {
    display: flex;
}

.donate-button,
.future-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #444B5B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.donate-button:hover,
.future-button:hover {
    background-color: #ff4c4c;
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-buttons {
        margin-top: 10px;
    }
}
